.sixt-header {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0562443);
    padding: 40px 0;
    display: flex;
    align-items: center;
}

.sixt-header__bcg{
background-image: url(../../img/Path.svg);
}